<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "title", "Title of post" %>
    <%= form.text_field "title" %>
  </p>

  <p>
    <%= form.label "description", "Write your post" %>
    <%= form.text_field "description" %>
  </p>

  <p>
    <%= form.label "posted_on", "Date" %>
    <%= form.date_field "posted_on" %>
  </p> 

  <%= form.hidden_field "place_id" %>

  <%= form.submit %>
<% end %>