<h1> <%= @place["name"] %> </h1>

<p>
  <a href = "/posts/new?place_id=<%= @place["id"] %>">Add a new post</a>
<p>
 &nbsp

<p>
  <% for post in @posts %>
    <p> 
      <h3> <%= post["title"] %> </h3>
      <em> <%= post["posted_on"] %> </em>
      <p> <%= post["description"] %> </p>
    </p>
    &nbsp
  <% end %>
</p>
 &nbsp

<p><%= button_to "Delete this place from your travel journal", @place, :method => "delete" %></p>

<p>
  <a href = "/places">Return to main page </a>
<p>